.grid-container {
  display: grid;
  /* 4 equal columns */
  grid-template-columns: repeat(4, 1fr);
  /* 3 rows */
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
  background-color: #1b1e3b;
  padding: 10px;
}
.box {
  border-radius: 5px;
}
.green {
  background-color: #4caf50;
}
.red {
  background-color: #f44336;
}
.yellow {
  background-color: #ffc107;
}
/* Grid item placements */
.item1 {
  grid-row: 1 / span 3;
  grid-column: 1/2;
}
.item2 {
  grid-row: 1/2;
  grid-column: 2/4;
}
.item3 {
  grid-row: 1/2;
  grid-column: 4/5;
}
.item4 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.item5 {
  grid-row: 2/3;
  grid-column: 3/4;
}
.item6 {
  grid-row: 2/4;
  grid-column: 4/5;
}
.item7 {
  grid-row: 3/4;
  grid-column: 2/3;
}
.item8 {
  grid-row: 3/4;
  grid-column: 3/4;
}
.item9 {
  grid-row: 3/4;
  grid-column: 4/5;
}
